.pagination-box {
    right:12.5% !important;
}

.main-slider-box > .top-line {
    width:100%;
    height:15px;
    background-color:#ee3224;
    top:15px;
    opacity: .8;
    display: none;
}

.main-slider-box > .bottom-line {
    width:100%;
    height:15px;
    background-color:#273575;
    bottom:15px;
    opacity: .8;
    display: none;
}

.main-slider-box > .main-slider > .slides {
    height:100vh;
}

.main-slider-box > .main-slider > .slides > .slide:nth-of-type(1) {
    background-image:url(./index.img/main-slider-slide-2.png);
}

.main-slider-box > .main-slider > .slides > .slide:nth-of-type(2) {
    background-image:url(./index.img/main-slider-slide-3.png);
}

.main-slider-box > .main-slider > .slides > .slide:nth-of-type(3) {
    background-image:url(./index.img/main-slider-slide-4.png);
}

.main-slider-box > .main-slider > .slides > .slide:nth-of-type(4) {
    background-image:url(./index.img/main-slider-slide-5.png);
}

.main-slider-box > .main-slider > .slides > .slide:nth-of-type(5) {
    background-image:url(./index.img/main-slider-slide-6.png);
}

.main-slider-box > .main-slider > .slides > .slide:nth-of-type(6) {
    background-image:url(./index.img/main-slider-slide-7.png);
}

.main-slider-box > .main-slider > .slides > .slide:nth-of-type(7) {
    background-image:url(./index.img/main-slider-slide-8.png);
}

.main-slider-box > .main-slider > .slides > .slide:nth-of-type(8) {
    background-image:url(./index.img/main-slider-slide-9.png);
}

.main-slider-box > .main-slider > .slides > .slide:nth-of-type(9) {
    background-image:url(./index.img/wave-bg-72ppi-03.png);
}

.main-slider-box > .main-slider > .slides > .slide:nth-of-type(10) {
    background-image:url(./index.img/main-slider-slide-11.png);
}

.main-slider-box > .main-slider > .slides > .slide:nth-of-type(11) {
    background-image:url(./index.img/main-slider-slide-12.png);
}

.main-slider-box > .main-slider > .slides > .slide:nth-of-type(12) {
    background-image:url(./index.img/wave-bg-72ppi-02.png);
}

.page-1 > .inner > .contents > .text {
    font-size:16px;
    line-height: 35px;
    font-weight: 500;
    letter-spacing: -1px;
}

.page-2 > .inner > .contents > .text {
    width:45%;
    padding-top:20px;
}

.page-2 > .inner > .contents > .text > .sub-title {
    font-size:20px;
    font-weight: 600;
    margin-left:110px;
}

.page-2 > .inner > .contents > .img-box {
    position: absolute;
    top:-10px;
    left:0;
}

.page-3 > .inner > .contents {
    height:550px;
    box-sizing: border-box;
}

.page-3 > .inner > .contents > .tab-box {
    position: absolute;
    top:0;
    left: 0;
    
    overflow: hidden;
    transition: width .5s;
}


.page-3 > .inner > .contents > .tab-box::after {
    position: absolute;
    content: "";
    display: block;
    width:50px;
    height:20px;
    background-color:#000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
    top:50%;
    right:0;
    transform: translateY(-50%) translateX(70%) rotate(90deg);
    background-repeat: no-repeat;
    background-position:center center;
    background-size:auto 80%;
    background-image:url(./index.img/ico-dragon-fly-03.png);
    border-radius: 5px 5px 0px 0px;
}

.page-3 > .inner > .contents > .tab-box > div {
    font-size:14px;
    font-weight:600;
    letter-spacing: -1px;
    padding:10px 5px;
    color:white;
    background-color:#000;
    border-bottom:2px solid #eee;
    cursor:pointer;
    box-sizing: border-box;
    width:130px;
    overflow: hidden;
}


.page-3 > .inner > .contents > .tab-box.active > div {
    width:130px;
}

.page-3 > .inner > .contents > .tab-contents-box {
    width:100%;
    height:100%;
}

.page-3 > .inner > .contents > .tab-contents-box > .img-box {
    width:65%;
    height:100%;
    background-color:#363636;
}

.page-3 > .inner > .contents > .tab-contents-box > .text {
    background-color:#eee;
    width:35%;
    height:100%;
}


html[data-current-index="0"] .pagination-box, html[data-current-index="7"] .pagination-box {
    opacity:0;
}


.scroll-top .pagination-box, .scroll-bottom .pagination-box {
    opacity:0;
}

